<nav class="cataloguePageNav" aria-label="Catalogue page links">
  <div class="cataloguePageNav__group">
    <p class="cataloguePageNav__label">dashboard</p>
    <div class="cataloguePageNav__links">
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue/' | relative_url }}">Catalogue Dashboard</a>
    </div>
  </div>
  <div class="cataloguePageNav__group">
    <p class="cataloguePageNav__label">edit</p>
    <div class="cataloguePageNav__links">
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-work/' | relative_url }}">Edit Work</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-series/' | relative_url }}">Edit Series</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-work-detail/' | relative_url }}">Edit Work Detail</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-work-file/' | relative_url }}">Edit Work File</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-work-link/' | relative_url }}">Edit Work Link</a>
    </div>
  </div>
  <div class="cataloguePageNav__group">
    <p class="cataloguePageNav__label">create</p>
    <div class="cataloguePageNav__links">
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-new-work/' | relative_url }}">Create New Work</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-new-series/' | relative_url }}">Create New Series</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-new-work-detail/' | relative_url }}">Create New Detail</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-new-work-file/' | relative_url }}">Create New File</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-new-work-link/' | relative_url }}">Create New Link</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-moment-import/' | relative_url }}">Import Moment</a>
    </div>
  </div>
  <div class="cataloguePageNav__group">
    <p class="cataloguePageNav__label">review</p>
    <div class="cataloguePageNav__links">
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-status/' | relative_url }}">Review Catalogue Status</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/catalogue-activity/' | relative_url }}">Review Source Activity</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/build-activity/' | relative_url }}">Review Build Activity</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/bulk-add-work/' | relative_url }}">Run Bulk Add Work</a>
      <a class="cataloguePageNav__link" href="{{ '/studio/studio-works/' | relative_url }}">Open Works View</a>
    </div>
  </div>
</nav>
