{%- assign docs_viewer_route_scope = include.viewer_scope | default: site.docs_viewer_default_scope | default: 'studio' -%}
{%- if site.docs_viewer_management_enabled == true -%}
  {% include docs_viewer_shell.html
    route_id='docs-manage'
    allow_management=true
    enable_search=include.enable_search
    search_placeholder=include.search_placeholder
    search_aria_label=include.search_aria_label
  %}
{%- else -%}
  {% include docs_viewer_readonly_route.html
    viewer_scope=docs_viewer_route_scope
    enable_search=include.enable_search
    search_placeholder=include.search_placeholder
    search_aria_label=include.search_aria_label
  %}
{%- endif -%}
