{%- assign docs_import_auto_init = true -%}
{%- if include.auto_init == false -%}
  {%- assign docs_import_auto_init = false -%}
{%- endif -%}
<div
  class="docsViewerImport"
  id="docsHtmlImportRoot"
  hidden
  data-docs-import-auto-init="{{ docs_import_auto_init }}"
  data-studio-ready="false"
  data-studio-busy="false"
>
  <div class="docsViewerImport__panel">
    <p class="docsViewerImport__intro" id="docsHtmlImportIntro"></p>

    <div class="docsViewerImport__controls">
      <label class="docsViewerImport__field docsViewerImport__field--inline docsViewerImport__field--scope">
        <span class="docsViewerImport__fieldLabel" id="docsHtmlImportScopeLabel"></span>
        <span class="docsViewerImport__fieldControl">
          <select class="docsViewerImport__input" id="docsHtmlImportScopeSelect"></select>
        </span>
      </label>

      <label class="docsViewerImport__field docsViewerImport__field--inline docsViewerImport__field--file">
        <span class="docsViewerImport__fieldLabel" id="docsHtmlImportFileLabel"></span>
        <span class="docsViewerImport__fieldControl">
          <select class="docsViewerImport__input" id="docsHtmlImportFileSelect"></select>
        </span>
      </label>
    </div>

    <label class="docsViewerImport__toggle" id="docsHtmlImportIncludePromptMetaWrap">
      <input type="checkbox" id="docsHtmlImportIncludePromptMeta">
      <span id="docsHtmlImportIncludePromptMetaLabel"></span>
    </label>
    <p class="docsViewerImport__meta docsViewerImport__toggleHint" id="docsHtmlImportIncludePromptMetaHint"></p>

    <div class="docsViewerImport__warning" id="docsHtmlImportWarning" hidden>
      <h3 id="docsHtmlImportCollisionHeading"></h3>
      <p id="docsHtmlImportCollisionBody"></p>
      <p class="docsViewerImport__meta" id="docsHtmlImportCollisionMeta"></p>
    </div>

    <div class="docsViewerImport__result" id="docsHtmlImportResult" hidden>
      <h3 id="docsHtmlImportResultTitle"></h3>
      <dl class="docsViewerImport__resultGrid">
        <div>
          <dt id="docsHtmlImportResultScopeLabel"></dt>
          <dd id="docsHtmlImportResultScope"></dd>
        </div>
        <div>
          <dt id="docsHtmlImportResultDocIdLabel"></dt>
          <dd id="docsHtmlImportResultDocId"></dd>
        </div>
        <div>
          <dt id="docsHtmlImportResultTitleLabel"></dt>
          <dd id="docsHtmlImportResultDocTitle"></dd>
        </div>
        <div>
          <dt id="docsHtmlImportResultSourceLabel"></dt>
          <dd id="docsHtmlImportResultSource"></dd>
        </div>
        <div>
          <dt id="docsHtmlImportResultViewerLabel"></dt>
          <dd id="docsHtmlImportResultViewer"></dd>
        </div>
        <div>
          <dt id="docsHtmlImportResultBackupLabel"></dt>
          <dd id="docsHtmlImportResultBackup"></dd>
        </div>
        <div id="docsHtmlImportResultMediaSourceRow" hidden>
          <dt id="docsHtmlImportResultMediaSourceLabel"></dt>
          <dd id="docsHtmlImportResultMediaSource"></dd>
        </div>
        <div id="docsHtmlImportResultMediaKeyRow" hidden>
          <dt id="docsHtmlImportResultMediaKeyLabel"></dt>
          <dd id="docsHtmlImportResultMediaKey"></dd>
        </div>
        <div id="docsHtmlImportResultMediaTokenRow" hidden>
          <dt id="docsHtmlImportResultMediaTokenLabel"></dt>
          <dd id="docsHtmlImportResultMediaToken"></dd>
        </div>
      </dl>
      <p class="docsViewerImport__meta" id="docsHtmlImportResultCounts"></p>
      <div class="docsViewerImport__warnings" id="docsHtmlImportWarnings" hidden>
        <h4 id="docsHtmlImportWarningsHeading"></h4>
        <ul id="docsHtmlImportWarningsList"></ul>
      </div>
    </div>

    <div class="docsViewerImport__footer">
      <p class="docsViewerImport__status" id="docsHtmlImportStatus"></p>

      <div class="docsViewerImport__actions">
        <button type="button" class="docsViewerImport__button docsViewerImport__button--defaultWidth" id="docsHtmlImportRun"></button>
        <button
          type="button"
          class="docsViewerImport__button docsViewerImport__button--defaultWidth"
          id="docsHtmlImportConfirm"
          hidden
        ></button>
        <button
          type="button"
          class="docsViewerImport__button docsViewerImport__button--defaultWidth"
          id="docsHtmlImportCancel"
          hidden
        ></button>
      </div>
    </div>
  </div>
</div>

<p class="docsViewerImport__status" id="docsHtmlImportBootStatus">loading docs import...</p>
