{% assign w = include.work %}

{% assign thumb_base = site.thumb_base | default: "" %}
{% assign thumb_prefix = site.thumb_prefix %}
{% if thumb_prefix == nil %}{% assign thumb_prefix = "/assets" %}{% endif %}
{% assign base = thumb_base | append: thumb_prefix | append: "/works/img/" %}

{% assign thumb = base | append: w.work_id | append: "-thumb-96.webp" %}
{% assign thumb_out = thumb %}
{% unless base contains '://' %}{% assign thumb_out = thumb | relative_url %}{% endunless %}

<a class="workIndexItem" href="{{ w.url | relative_url }}">
  <img
    class="workIndexItem__img"
    src="{{ thumb_out }}"
    alt="{{ w.title | escape }}"
    loading="lazy"
    decoding="async">
  <div class="workIndexItem__row">
    <div class="workIndexItem__work_id">{{ w.work_id }}</div>
    <div class="workIndexItem__title">{{ w.title | escape }}</div>
  </div>
</a>
